include README.md
include README.zh-CN.md
include LICENSE
include requirements.txt
include pyproject.toml
recursive-include docs *.md *.gif
recursive-include examples *.md
recursive-include src *.py
exclude tests/*
exclude .gitignore
exclude *.bat
exclude *.sh
